
@{
    ViewBag.Title = "Index";
}

<head>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="l-wrap">
        <div class="two-col-grid">
            <div class="grid-item" style="width: 20%;">
                <img src="~/Content/placeholder.png" />
                <br />
                <span id="userText">Jooooeee</span>
                <br />
                <span id="userText">Score: 5</span>
            </div>
            <div class="grid-item" style="width: 80%;">
                <form method="get" action="Forums/@ViewBag.Id/Filter" class="searchForm">
                    <input type="search" placeholder="Search"/>
                    <input type="button" class="button" value="Standard Search" />
                    <input type="button" class="button" value="Advanced Search" />
                </form>
            </div>
        </div>
        <hr class="style-two" />
        <div class="one-col-grid">
            <div class="grid-title-item">
                <div class="tableFormatGrid">
                    <div class="score-header">
                        Score
                    </div>
                    <div class="views-header">
                        Views
                    </div>
                    <div class="question-header">
                        Title
                    </div>
                    <div class="accepted-header">
                        Answer accepted
                    </div>
                    <div class="lastPost-header">
                        Last Post
                    </div>
                </div>
            </div>
        </div>
        @foreach (CombinedIntelligence.Data.Question question in ViewBag.Questions)
        {
        <div id="questionRef">
            <a href="Post/Post/@question.Id">
                <div class="one-col-grid">
                    <div class="grid-item">
                        <div class="tableFormatGrid">
                            <div class="score">
                                @if (question.VoteScore > 5)
                                {
                                    <span style="color:green">@question.VoteScore</span>
                                }
                                else if (question.VoteScore < -5)
                                {
                                    <span style="color:red">@question.VoteScore</span>
                                }
                                else
                                {
                                    @question.VoteScore
                                }

                                <br />
                                <span id="subscript">Score</span>
                            </div>
                            <div class="views">
                                @question.totalViews
                                <br />
                                <span id="subscript">Views</span>
                            </div>
                            <div class="question">
                                @question.HeaderText
                                <br />
                                <span id="subscript">Question - TIMESTAMP</span>
                            </div>
                            <div class="accepted">
                                @if (question.HasAcceptedAnswer)
                                {
                                    <span class="glyphicon glyphicon-ok" style="color:green"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-remove" style="color:red"></span>
                                }
                                <br />
                                <span id="subscript">Accepted Answer</span>
                            </div>
                            <div class="datePosted">
                                @question.DatePosted
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</body>
