@{
    ViewBag.Title = "Answers";
}

<head>
    @Styles.Render("~/Content/css");
</head>

<div class="l-wrap">
    @foreach (CombinedIntelligence.Data.Answer answer in ViewBag.Answers)
    {
        <div class="one-col-grid">
            <div class="grid-item">
                <div class="tableFormatGrid">
                    <div class="author">
                        <strong>@ViewBag.User.Name</strong>
                        <br />
                        <span id="subscript">Author</span>
                    </div>
                    <div class="answer">
                        <span class="answerText">@answer.BodyText</span>
                        <br />
                        <span id="subscript">Answer - @answer.DatePosted</span>
                    </div>
                    @{
                        if (answer.Accepted)
                        {
                            <div class="accepted">
                                <span class="glyphicon glyphicon-ok" style="color:green"></span>
                                <br />
                                <span id="subscript">Accepted</span>
                            </div>
                        }
                        else
                        {
                            <div class="accepted">
                                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                                <br />
                                <span id="subscript">Not Accepted</span>
                            </div>
                        }
                    }
                            <div class="score">
                                @{
                                    if (answer.VoteScore > 5)
                                    {
                                        <span style="color:green">@answer.VoteScore</span>
                                    }
                                    else if (answer.VoteScore < -5)
                                    {
                                        <span style="color:red">@answer.VoteScore</span>
                                    }
                                    else
                                    {
                                        @answer.VoteScore
                                    }

                                }
                                <br />
                                <span id="subscript">Score</span>
                            </div>
                </div>
            </div>
        </div>
    }
    <a class="button" href="/User/Profile/@ViewBag.User.Id"><div class="button">Return</div></a>
</div>