
@{
    ViewBag.Title = "Profile";
    ViewBag.MaxShown = 10;
}
<head>
    @Styles.Render("~/Content/css")
</head>


<div class="l-wrap">
    <div class="four-col-grid">
        <div class="grid-item">
            <br />
            <img src="~/Content/placeholder.png" />
            <hr class='style-seven' />
            <br />
            <p>Name: @ViewBag.userName</p>
            <p>Score: @ViewBag.score</p>
            <p>Team: @ViewBag.team</p>
            <p>Email: @ViewBag.email</p>
            <p>
                Preferences:
                <ul>
                    <li>
                        @foreach (CombinedIntelligence.Data.Tag item in ViewBag.Preferences)
                        {
                            <span><i>@item.Name</i>, </span>
                        }
                    </li>
                </ul>

            </p>
            </div>
        <div class="grid-item">
            <div class="divHeader">Top Answers<hr class="style-seven" /></div>
            @{ int answerIt = 0; }
            @foreach (CombinedIntelligence.Data.Answer answer in ViewBag.Answers)
            {
                <div class="tableFormatGrid">
                    <div class="score">@answer.VoteScore
                    <br/>
                    <span id="subscript">Score</span>
                </div>
                <div class="description">@answer.BodyText</div>
                </div>
                <hr class="style-two" />
                answerIt++;
                if (answerIt >= ViewBag.MaxShown)
                {
                    break;
                }
            }
            <div class="button"><a href="/Profiles/@ViewBag.Id/Answers">All Answers</a></div>
        </div>
        <div class="grid-item">
            <div class="divHeader">Top Questions<hr class="style-seven" /></div>
            @{ int questionIt = 0; }
            @foreach (CombinedIntelligence.Data.Question question in ViewBag.Questions)
            {
                <div class="tableFormatGrid">
                    <div class="score">@question.VoteScore
                        <br />
                        <span id="subscript">Score</span>
                    </div>
                    <div class="views">@question.totalViews
                        <br />
                        <span id="subscript">Views</span>
                    </div>
                    <div class="description">@question.HeaderText</div>
                </div>
                <hr class="style-two" />
                questionIt++;
                if (questionIt >= ViewBag.MaxShown)
                {
                    break;
                }
            }
        </div>
        <div class="grid-item">
            <div class="divHeader">Rewards<hr class="style-seven"/></div>
            @{ int rewardIt = 0; }
            @foreach (CombinedIntelligence.Data.Reward reward in ViewBag.Rewards)
            {
                <div class="tableFormatGrid">
                    <div class="score"><span style="color:red">@reward.Cost</span>
                        <br />
                        <span id="subscript">Cost</span>
                    </div>
                    <div class="description">@reward.BodyText</div>
                </div>
                <hr class="style-two" />
                rewardIt++;
                if (rewardIt >= ViewBag.MaxShown)
                {
                    break;
                }

            }
        </div>

    </div>
</div>